In [1]:
import pandas as pandas


#1. Você é solicitado para criar um DataFrame do Pandas a partir de uma lista de dicionários.
dadosPessoais = [
    {'nome': 'Leticia', 'idade': 15, 'cidade': 'Fortaleza'},
    {'nome': 'Joana', 'idade': 17, 'cidade': 'Fortaleza'},
    {'nome': 'Carlos', 'idade': 30, 'cidade': 'Pindoretama'},]

print(dadosPessoais)

[{'nome': 'Leticia', 'idade': 15, 'cidade': 'Fortaleza'}, {'nome': 'Joana', 'idade': 17, 'cidade': 'Fortaleza'}, {'nome': 'Carlos', 'idade': 30, 'cidade': 'Pindoretama'}]

In [2]:
# Comno transformar os dados fornecidos em um DataFrame do Pandas?

# 2. Usando a função pd.DataFrame() e passando a lista de dicionários como argumento.
df = pandas.DataFrame(dadosPessoais)
print(df)

      nome  idade       cidade
0  Leticia     15    Fortaleza
1    Joana     17    Fortaleza
2   Carlos     30  Pindoretama

In [3]:
#3. Remoçao dos index padrão do DataFrame
# print(df.to_string(index=False))

print(df.to_string(index=False))

   nome  idade      cidade
Leticia     15   Fortaleza
  Joana     17   Fortaleza
 Carlos     30 Pindoretama

In [4]:
#4. Acessar a coluna 'nome' do DataFrame e exibir os nomes das pessoas.
print(df['nome'])

0    Leticia
1      Joana
2     Carlos
Name: nome, dtype: object

In [5]:
# 5. Filtrar o DataFrame para exibir apenas as cidades

print(df['cidade'])

0      Fortaleza
1      Fortaleza
2    Pindoretama
Name: cidade, dtype: object

In [6]:
# 6. Adicionar uma nova coluna 'email' ao DataFrame com endereços de email fictícios para cada pessoa.
df['email'] = [
    'leticia00@gmail.com',
    'joana6421@gmail.com',
    'carlos014@gmail.com'
]

print(df)

      nome  idade       cidade                email
0  Leticia     15    Fortaleza  leticia00@gmail.com
1    Joana     17    Fortaleza  joana6421@gmail.com
2   Carlos     30  Pindoretama  carlos014@gmail.com

In [7]:
# 7. Acessar a linha linha  a partir de indice 1 (segunda linha) do DataFrame e exibir os dados dessa pessoa.
# Usa-se o método .loc[] ou .iloc[] para acessar a linha pelo índice.
print(df.loc[1])  # Usando .loc[] para acessar a linha com índice

nome                    Joana
idade                      17
cidade              Fortaleza
email     joana6421@gmail.com
Name: 1, dtype: object

In [52]:
# Emprego do .iloc[]
print(df.iloc[1])  # Usando .iloc[] para acessar a linha com índice

nome                    Joana
idade                      17
cidade              Fortaleza
email     joana6421@gmail.com
Name: 1, dtype: object

In [ ]:
# Qual é diferença entre .loc[] e .iloc[]?
# .loc[] é usado para acessar linhas e colunas por rótulos (nomes), enquanto .iloc[] é usado para acessar por posições inteiras (índices).

20.666666666666668 1

In [43]:
# 8. Acessar a coluna 'idade' e calcular a média das idades das pessoas no DataFrame.
print(df['idade'].mean(), 1)  # Usando o método .mean() para calcular a média

20.666666666666668 1

In [ ]:
# OBS. Mostar numero sem casas decimais
print(df['idade'].mean().astype(int))  # Convertendo para int para remover casas decimais
#  ou print(int(df['idade'].mean()))  # Convertendo para int para remover casas decimais

20

In [48]:
#  ou print(int(df['idade'].mean()))  # Convertendo para int para remover casas decimais
print(int(df['idade'].mean()))  # Convertendo para int para remover casas decimais

20

In [49]:
# 10. Filtrar o DataFrame para exibir apenas as pessoas com idade maior que 16 anos.
filtro_idade = df['idade'] > 16
print(df[filtro_idade])

     nome  idade       cidade                email
1   Joana     17    Fortaleza  joana6421@gmail.com
2  Carlos     30  Pindoretama  carlos014@gmail.com

In [ ]:
# 11. Substituir o valor da cidade 'Pindoretama' por 'Maracanaú' no DataFrame.
df.loc[df['cidade'] == 'Pindoretama', 'cidade'] = 'Maracanaú'
print(df)

In [55]:
# EXCLUSÃO DE LINHAS, mas antes é bom copiar o DataFrame
df_copia = df.copy()

df = df_copia
print(df_copia)
# df = df.drop(2)  # Remove a linha com índice 2
# print(df)

      nome  idade       cidade                email
0  Leticia     15    Fortaleza  leticia00@gmail.com
1    Joana     17    Fortaleza  joana6421@gmail.com
2   Carlos     30  Pindoretama  carlos014@gmail.com

In [59]:
# AGORA SIM, PODE APAGAR A LINHA 2
df = df.drop(0)  # Remove a linha com índice 2
print(df)

    nome  idade     cidade                email
1  Joana     17  Fortaleza  joana6421@gmail.com

In [60]:
print(df)

    nome  idade     cidade                email
1  Joana     17  Fortaleza  joana6421@gmail.com

In [61]:
# AGORA EXIBIR df_copia
print(df_copia)

      nome  idade       cidade                email
0  Leticia     15    Fortaleza  leticia00@gmail.com
1    Joana     17    Fortaleza  joana6421@gmail.com
2   Carlos     30  Pindoretama  carlos014@gmail.com

In [63]:
# APAGAR TODO O CONTEÚDO DO DATAFRAME
df = df[0:0]
print(df)

Empty DataFrame
Columns: [nome, idade, cidade, email]
Index: []

In [64]:
# Fazer drop em df
df = df.drop(df.index)

print(df)

Empty DataFrame
Columns: [nome, idade, cidade, email]
Index: []

In [66]:
print('--'*20, 'FIM', '--'*20)

---------------------------------------- FIM ----------------------------------------

In [1]:
print('\n\nAnálise de Vendas - Online Retail Dataset\n')

Análise de Vendas - Online Retail Dataset